body{
    background-color: rgb(176, 176, 176);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#teste{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}